@import "res";

.notification {
    margin: 16px;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.75);
    border-radius: 4px;
    font-size: 1rem;
    padding: 4px 0 0;
}

.notificationTitle {
    margin: 0;
    font-size: 1.5rem;
}

.notificationImage {
    height: 3rem;
    width: 3rem;
    margin-right: 8px;
    float: left;
}

.notificationBody {
    /*margin-top: 2px;*/
}

.notificationMeta {
    font-size: 0.8rem;
    color: $hopperGreen;
    margin-left: 8px;
    display: inline-block;
}

.notificationSender {
    font-weight: bold;
    float: left;
}

.notificationTime {
    float: left;
}

.notificationSenderSeparator {
    height: 0.2rem;
    width: 0.2rem;
    border-radius: 0.1rem;
    background-color: $hopperGreen;
    margin: .3rem;
    float: left;
}

.notificationContent {
    padding: 0 8px 8px;
}

#notificationFilterChooser {
    overflow-x: scroll;
}

.appFilter {
    height: 3rem;
    width: 3rem;
    margin-left: 8px;
    float: left;
}

.appFilterSelected {
    border: 2px solid $hopperGreen;
}

#includeDoneSelector {
    float: left;
    height: 3rem;
    width: 3rem;
}

.markDoneButton {
    margin-left: 16px;
}